.card-bg {
	background-color: #7BA01E;
}
.banner-bg {
	background-image: url(../../images/field.jpg);
	background-position: center ;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 450px;
	width: 100%;
}
